.sb-stories-color-tokens {
  display: inline-flex;
  gap: 120px; 
  overflow: visible;

  &__category {
    margin-bottom: 32px !important;
    text-transform: capitalize;
  }

  &__color {
    width: 44px; 
    height: 44px; 
    border-radius: 12px; 
    box-shadow: 0 2px 4px rgb(43 49 52 / 10%);

    &-wrapper {
      display:flex; 
      gap:8px; 
      min-width: 400px; 
      padding: 8px;
      margin-bottom: 48px !important;
      cursor: pointer;
      border-bottom: 1px solid rgb(43 49 52 / 10%) !important;
    }

    &-figma-name {
      color: rgb(43 49 52 / 60%);
      text-transform: capitalize;
    }

    &-hex {
      color: rgb(43 49 52 / 60%);
    }

    &-name {
      text-transform: capitalize;
    }

    &-value {
      color: rgb(43 49 52 / 60%)
    }
  }

}
