:host {
  /* Общие размеры */
  --y-core-radio-button-max-width: 600px;
  --y-core-radio-button-x-gap: var(--y-core-size-spacing-2-x);
  --y-core-radio-button-info-gap: var(--y-core-size-spacing-0-5-x);

  /* Размеры ошибки */

  /* Общие */
  --y-core-radio-button-error-margin-top: var(--y-core-size-spacing-0-5-x);

  /* Small */
  --y-core-radio-button-small-error-margin-left: var(--y-core-size-spacing-7-x);

  /* Medium */
  --y-core-radio-button-medium-error-margin-left: var(--y-core-size-spacing-8-x);
}
