VITE_SENTRY_ENABLED=false
VITE_SENTRY_DSN=SENTRY_DSN
VITE_SENTRY_AUTH_TOKEN=SENTRY_AUTH_TOKEN
VITE_SENTRY_ORG=altegio
VITE_SENTRY_PROJECT=altegio-ui-web
VITE_SENTRY_URL=VITE_SENTRY_URL
VITE_SENTRY_TRACES_SAMPLE_RATE=0

# SENTRY в проекте отключен
# .env                # loaded in all cases
# .env.local          # loaded in all cases, ignored by git
# .env.[mode]         # only loaded in specified mode
# .env.[mode].local   # only loaded in specified mode, ignored by git
