:host {
  /* Размеры */
  --y-core-textarea-gap: var(--y-core-size-spacing-x);

  /* Счетчик */
  --y-core-textarea-counter-font-size: var(--y-core-typography-annotation-a-2-regular-font-size);
  --y-core-textarea-counter-font-weight: var(--y-core-typography-annotation-a-2-regular-font-weight);
  --y-core-textarea-counter-line-height: var(--y-core-typography-annotation-a-2-regular-line-height);
  --y-core-textarea-counter-color: var(--y-core-color-text-secondary);
  --y-core-textarea-counter-disabled-color: var(--y-core-color-text-tertiary);
}
