$component: $YCoreSegmentControlTagName;

.$(component) {
  box-sizing: border-box;
  display: var(--y-core-segment-control-display);
  gap: var(--y-core-segment-control-size-gap);
  padding: var(--y-core-segment-control-size-padding);
  overflow: hidden;
  font-family: var(--y-core-font-family);
  background-color: var(--y-core-segment-control-background-color);
  border-radius: var(--y-core-segment-control-size-border-radius);
  box-shadow: inset 0 0 0 var(--y-core-segment-control-border-size) var(--y-core-segment-control-border-color);

  &_size {
    &_small {
      --y-core-segment-control-size-padding: var(--y-core-size-spacing-0-5-x);
      --y-core-segment-control-size-border-radius: var(--y-core-size-radius-2-x);
      --y-core-segment-control-size-gap: var(--y-core-size-spacing-0-5-x);
    }

    &_medium {
      --y-core-segment-control-size-padding: var(--y-core-size-spacing-0-5-x);
      --y-core-segment-control-size-border-radius: var(--y-core-size-radius-2-5-x);
      --y-core-segment-control-size-gap: var(--y-core-size-spacing-0-5-x);
    }

    &_large {
      --y-core-segment-control-size-padding: var(--y-core-size-spacing-0-5-x);
      --y-core-segment-control-size-border-radius: var(--y-core-size-radius-3-x);
      --y-core-segment-control-size-gap: var(--y-core-size-spacing-0-5-x);
    }
  }
}

.$(component)__segment {
  flex: 1 1 auto;
  text-align: center;
}
