$component: $YCoreSimpleButtonTagName;

:host([data-variant="whatsapp"]) {
  /* Общие */
  --y-core-simple-button-variant-primary-background-color: var(--y-core-color-other-brand-whatsapp);
  --y-core-simple-button-variant-primary-color: var(--y-core-color-other-contrast);
  --y-core-simple-button-variant-primary-disabled-background-color: rgb(37 211 102 / 30%);
  --y-core-simple-button-variant-primary-disabled-color: var(--y-core-color-other-contrast);
  --y-core-simple-button-variant-primary-hover-background-color: var(--y-core-color-other-brand-whatsapp-high);
  --y-core-simple-button-variant-primary-loading-color: var(--y-core-color-other-contrast);
  --y-core-simple-button-size-medium-gap: var(--y-core-size-spacing-2-x);
  --y-core-simple-button-size-small-gap: var(--y-core-size-spacing-2-x);
}