$component: $YCoreFieldIconTagName;

:host {
  display: inline-flex;
}

.$(component) {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--y-core-field-icon-default-color);
  user-select: none;

  &_disabled {
    color: var(--y-core-field-icon-disabled-color);
    cursor: not-allowed;
  }

  &_hoverable:not(&_disabled) {
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--y-core-field-icon-hover-color);
    }
  }

  &_clickable:not(&_disabled) {
    cursor: pointer;
  }

  &_size {
    &_small {
      padding: var(--y-core-field-icon-size-small-padding-y) var(--y-core-field-icon-size-small-padding-x);
    }

    &_medium {
      padding: var(--y-core-field-icon-size-medium-padding-y) var(--y-core-field-icon-size-medium-padding-x);
    }

    &_large {
      padding: var(--y-core-field-icon-size-large-padding-y) var(--y-core-field-icon-size-large-padding-x);
    }
  }
}
