$component: $YCoreMultipleSelectFieldTagName;

.$(component) {
  display: var(--y-core-multiple-select-field-display);
  flex-direction: column;
  gap: var(--y-core-size-spacing-x);
  min-width: var(--y-core-multiple-select-field-min-width);
  max-width: var(--y-core-multiple-select-field-max-width);
  font-family: var(--y-core-font-family);

  &__activator {
    --y-core-input-flex-wrap: wrap;
    --y-core-input-min-width: 0;

    &_readonly {
      cursor: default;
    }
  }

  &__content {
    --y-core-dropdown-list-min-width: var(--y-core-multiple-select-field-min-width);
    --y-core-dropdown-list-max-width: var(--y-core-multiple-select-field-max-width);

    width: 100%;
    max-width: var(--y-core-multiple-select-field-max-width);
    margin-top: var(--y-core-size-spacing-x);
  }

  &__multiple {
    display: flex;
    flex-wrap: wrap;
    gap: var(--y-core-size-spacing-x);
    width: 100%;
  }

  &__annotation_hidden {
    display: none;
  }
  
  &__list-item {
    &__prepend, &__content, &__append {
      display: flex;
    }

    &__label {
      display: -webkit-box;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__chip {
    position: relative;
    z-index: 2;
    cursor: default;

    &-wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: var(--y-core-size-spacing-x);
      align-items: center;
      width: 100%;

      &_size {
        &_small {
          padding: var(--y-core-size-spacing-x);
        }

        &_medium {
          padding: var(--y-core-size-spacing-2-x);
        }

        &_large {
          padding: var(--y-core-size-spacing-2-x);
        }
      }

      &_no-selected-values {
        padding: 0;
      }
    }

    &_readonly:hover {
      --y-core-chip-icon-color-muted-hover: var(--y-core-chip-icon-color-muted)
    }
  }

  &__input {
    position: relative;
    z-index: 2;

    --y-core-field-input-cursor: pointer;

    &_has-selected-values {
      --y-core-field-input-outer-size-small-padding-y: var(--y-core-size-spacing-0-5-x);
      --y-core-field-input-outer-size-medium-padding-y: 0;
      --y-core-field-input-outer-size-large-padding-y: var(--y-core-size-spacing-x);

      max-width: 0;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__arrow-icon {
    &_rotated {
      transform: rotate(180deg);
    }
  }
}