$component: $YCoreDropdownListTagName;

.$(component) {
  display: var(--y-core-dropdown-list-display);
  flex-direction: var(--y-core-dropdown-list-flex-direction);
  gap: var(--y-core-dropdown-list-gap);
  min-width: var(--y-core-dropdown-list-min-width);
  max-width: var(--y-core-dropdown-list-max-width);
  min-height: var(--y-core-dropdown-list-min-height);
  max-height: var(--y-core-dropdown-list-max-height);
  padding: var(--y-core-dropdown-list-padding-y) var(--y-core-dropdown-list-padding-x);
  overflow-y: auto;
  font-family: var(--y-core-font-family);
  background-color: var(--y-core-dropdown-list-background);
  border-radius: var(--y-core-dropdown-list-border-radius);
  box-shadow: var(--y-core-dropdown-list-shadow);

  &_no-max-height {
    max-height: unset;
  }
}
