@import url('./Modal.mixins.css');

$component: $YCoreModalTagName;

.$(component) {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: var(--y-core-modal-z-index);
  padding: var(--y-core-modal-padding);
  overflow: hidden;
  border-radius: var(--y-core-size-radius-3-x);
  box-shadow: var(--y-core-effects-modal-drop-shadow);
  transform: translate(-50%, -50%);

  --y-core-fade-transition-duration: 300ms;

  &_size {
    &_small {
      @mixin modal-size --y-core-modal-size-small-width;
    }

    &_large {
      @mixin modal-size --y-core-modal-size-large-width;
    }
  }

  &_full-screen {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }

  &_variant {
    &_primary {
      @mixin modal-variant --y-core-modal-variant-primary-background-color;
    }

    &_secondary {
      @mixin modal-variant --y-core-modal-variant-secondary-background-color;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    z-index: var(--y-core-modal-overlay-z-index);
    width: 100%;
    height: 100%;
    background-color: var(--y-core-modal-overlay-color);
  }

  &__close {
    position: absolute;
    top: var(--y-core-size-spacing-2-x);
    right: var(--y-core-size-spacing-2-x);
  }
}
