.sb-stories-toast-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.sb-stories-toast-container  .sb-stories-toast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 6px;
  margin: 4px auto;
  font-size: 14px;
  color: #209b2a;
  background: #f4fdf4;
  border: 1px solid #209b2a;
  border-radius: 8px;
  transition: all 0.3s ease;
  animation: slide-in 0.2s;
}

.sb-stories-toast-title {
  font-size: 16px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
