$component: $YCoreTableRowTagName;
$cell: $YCoreTableCellTagName;
$headCell: $YCoreTableHeadCellTagName;

$(component) {
  &[slot="body"] {
    &:not([stripe]) {
      & + & {
        border-top: 1px solid var(--y-core-color-stroke-primary);
      }
    }

    &[stripe] {
      &:nth-of-type(odd) {
        background-color: var(--y-core-table-row-stripe-background-color);
      }

      &:nth-of-type(even) {
        background-color: var(--y-core-table-row-default-background-color);
      }
    }

    &[sticky] {
      &[stripe] {
        &:nth-of-type(odd) {
          $(cell),
          $(headCell) {
            background-color: var(--y-core-table-row-stripe-background-color);
          }
        }

        &:nth-of-type(even) {
          $(cell),
          $(headCell) {
            background-color: var(--y-core-table-row-default-background-color);
          }
        }
      }

      &:not([stripe]) {
        $(cell),
        $(headCell) {
          background-color: var(--y-core-table-row-default-background-color);
        }
      }
    }
  }
}
