$component: $YCoreAutocompleteFieldTagName;

:host {
  /* Размеры */
  --y-core-autocomplete-field-min-width: 88px;
  --y-core-autocomplete-field-max-width: 404px;
  --y-core-autocomplete-field-dropdown-min-height: 200px;
  --y-core-autocomplete-field-dropdown-content-min-height: 36px;
  --y-core-dropdown-content-max-width: 404px;
  --y-core-dropdown-activator-width: 100%;
  --y-core-dropdown-max-width: 100%;

  /* Общие */
  --y-core-autocomplete-field-display: flex;
  --y-core-autocomplete-field-color: var(--y-core-color-text-primary);
  --y-core-autocomplete-field-gap: var(--y-core-size-spacing-x);
  --y-core-autocomplete-field-content-margin-top: var(--y-core-size-spacing-x);
  --y-core-autocomplete-field-content-margin-bottom: var(--y-core-size-spacing-x);
  --y-core-autocomplete-field-loader-background-color: var(--y-core-color-surface-primary);
}
